<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header></header>
<body>

<!-- Page content goes here -->
<div class="container">

    <form method="POST" action="/login">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group ">
            <span></span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>
            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span></span>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        </div>

    </form>

</div>
</body>
</html>